services:
  dashboard-frontend:
    build:
      context: ./app
      dockerfile: Dockerfile
    depends_on:
      - dashboard_dashboard1
    restart: always

  dashboard_dashboard1:
    build:
      context: ./br-dashboard/backend
      dockerfile: Dockerfile
    environment:
      - PORT=3000
      - NODE_ENV=production
      - FRONTEND_URL=https://dashboard-dashboard1.zdc13k.easypanel.host/
      - DATABASE_URL=postgresql://postgres:senha_segura@postgres:5432/brdashboard
      - REDIS_URL=redis://redis:6379
    depends_on:
      - postgres
      - redis
    restart: always

  postgres:
    image: postgres:15
    environment:
      - POSTGRES_PASSWORD=senha_segura
      - POSTGRES_DB=brdashboard

  redis:
    image: redis:alpine
