services:
  dashboard-frontend:
    build:
      context: ./app
      dockerfile: Dockerfile
    depends_on:
      - dashboard-dashboard1
    restart: always

  dashboard-dashboard1:
    build:
      context: ./br-dashboard/backend
      dockerfile: Dockerfile
    environment:
      - PORT=3000
      - NODE_ENV=production
      - FRONTEND_URL=https://dashboard-dashboard1.zdc13k.easypanel.host/
      - DATABASE_URL=postgresql://postgres:senha_segura@postgres:5432/brdashboard
      - REDIS_URL=redis://redis:6379
      - GOOGLE_SERVICE_ACCOUNT_EMAIL=whatzapp@gen-lang-client-0572873421.iam.gserviceaccount.com
      - GOOGLE_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nMIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQCuCHgcFO68lrSt\neJYDcJbEdzzxK9fSJqXHK4R3UMIzHVDvW+ySRUhWfiIUwg/d2U6GfVyE+z00YFcB\nZqrQKbhLFoKspQc0UNu//8x+LqFmmXrAs0KrzQY/IKUeQeYOcTnS0X83U2tfOFW6\ngpUpmDNmyvtCPqz1GGtDE5uhKDQVLccx97/43x7OwXOKzZaSGwcqxTjf4Kqi3+dt\nIKyO7r/pZaq36aTC9gDbd8+0uYHeO+AEIPFOhErX4gFzjCgRnpcsHtgoiGvC7S9e\nJoIVANGEWJ/HtyckeV7kawxs1l26Q/pWQqI6DhvkDX1HqGK3X6z3gMnRgw+A1dXN\nFMynaqMVAgMBAAECggEAAoEOsWC/uqj0epaEmhIRqUwJ7XJzDYwO0JnYsxrPYIro\ncjlBYy1qCAySkvfj4I5S6e592VAAJnPIbLW8eXhQNYxiXveU7fTH5LBakeo72k0V\nDhbGO9CcaWYf2hqao9SPP3BSQ0qI/frCiQd9+/Y7rxv2l5JtTK2IRZPPpnb8oN1c\nsBu94X8FnOd5nQkGooohi44ZtQ5sjILVKmRS7Q+VFiIsIS1Ngwwgvin5efLTA43C\n/ko0jGFSffyG2EW9G1UtULI25lZPXyDSyYUD7ntViMaZidBRSF+0CtUGhoIKAr58\n1+eDFYK9LFQttEH4CB1dKSwPa99B1oD8eUzgt1rMwQKBgQDW9CWtyRV0ts3LrG9/\nTiLDxG6+mNswDr9G5jz4K7Tf1oavcrKEbXx6ql0gp2AY5XPdVZ/4IRf4xOHXfZjJ\nUkZAqjTV3lqzVZiPdS2kIqIRImVd3NgnJmO5mPONYlQ6RCRC268H8az4fhu1LcUD\nXw5Awlp9QVSYXuYrN7/iH4s70QKBgQDPQ/Kmnk3XuKP5LBtl1uaYL1MmE/LasrNP\nkRKVVcksb1+WuurtM6NjXSjl6SlejZwnlo9nx6fO3lRd3ecNA63yo7Rd5fKePyCG\nTGKejvBB2IxIl5FVDDR7EirX8JCoRWUN+PyqkKO8OD3JEY+uDL2qgEmzeGEJyxy8\nsb2zW8D4BQKBgEl6rkKpAYejUdg0+uxWxnWLeZv33r2f3O0cmWzwa+U0jVf+al3w\nm2PHRwx5itUX4rKfqY6FqY8lplommgr/7/n89RDC8NhrAzrPAKoiGKqoymP6sX04\nl1CDo4YKPeapEog0VrHtgIZ1fX1Cxx0u6k1i4tH8ejGYBzBw30wqIktxAoGAMjMR\n1TsoPWRSCqqdJChNh3SG3gUc381CUrYfWx4A8Is1CqvQ9Ix6OTm6Cx1S0LzZolj7\n+LXJtffxVR7GtEc83TS7Hbbw8VT2yrA7fo2+MSSCrZ5QK9od5+T5jX2Ne8P6+sxg\nXetUTOUOSeG/+/bIBUC3GQnB7v5LwoQGHyfM8AUCgYA8G8BC57Nj2frfl0qZBCFW\nGmFWk0pYiw96VRazaE4NbZwcjVgm6O4DCcuwB22ZcpftkVFg5/vLQM9iRG7LaOxy\nv6PpSg6rUYXptavDSDbCscrsw1kL6mBFTctILNqCgyTAcg63v84+BNgS/MmQFixn\nsk1DoFw6YcrKtd8ekamzZQ==\n-----END PRIVATE KEY-----\n
    depends_on:
      - postgres
      - redis
    restart: always

  postgres:
    image: postgres:15
    environment:
      - POSTGRES_PASSWORD=senha_segura
      - POSTGRES_DB=brdashboard

  redis:
    image: redis:alpine
